<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Editar Item
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home </a>
          </li>
          <li class="active">Editar Item</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-10">
            <!-- general form elements -->
            <div class="box box-header">
              <div class="box-header with-border">
                <h3 class="box-title">Información básica</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <%= form_for @item do |f| %>
              <% if @item.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@item.errors.count, "error") %>
                  prohibited this item from being saved:</h2>
                <ul>
                  <% @item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>
              <div class="box-body">
                <div class="form-group">
                  <label>Categoría</label>

                  <%= f.collection_select(:category_id, Category.all, :id, :nombre, {:prompt => "Seleccione..."},{:class => 'form-control'}) %>
                </div>
                <div id="tipo_planta" class="form-group">
                  <label>Tipo planta</label>

                  <%= f.select(:tipo, [["DIESEL","DIESEL"], ["GASOLINA","GASOLINA"], ["VERTICAL","VERTICAL"]], {}, { :class => 'form-control' })%>
                </div>

                <div id="dimensiones" class="form-group">
                  <label>Dimensiones</label>
                  <%= f.text_field :dimensiones, class: "form-control", placeholder: "Ingrese Dimensiones" %>
                </div>

                <div class="form-group">
                  <label>Marca <div id="evaporadores"> de Evaporadores </div></label>

                  <%= f.collection_select(:marca_id, Marca.where("category_id = ?", f.object.category_id), :id, :nombre, {:prompt => "Seleccione..."},{:class => 'form-control'}) %>
                </div>

                <div id="marca_digitada" class="form-group">
                  <label>Digite Marca </label>
                  <%= f.text_field :marca_digitada, :class => 'form-control'  %>
                </div>

                <div id="modelo" class="form-group">
                  <label>Modelo</label>
                    <%= f.collection_select(:modelo_id, Modelo.where("marca_id = ?", f.object.marca_id), :id, :nombre, {:prompt => "Seleccione..."},{:class => 'form-control'}) %>
                  </div>
                  <div id="modelo_digitado" class="form-group">
                    <label>Digite Modelo </label>
                    <%= f.text_field :modelo_digitado, :class => 'form-control'  %>
                  </div>
                <div id ="volumen" class="form-group">
                  <label>Volumen en Litros</label>
                  <%= f.text_field :volumen, class: "form-control", placeholder: "Ingrese Volumen"%>
                </div>
                <div id="quantity" class="form-group">
                  <label>Cantidad <div id="cantevaporadores"> de Evaporadores </div></label>
                  <%= f.number_field :quantity, class: "form-control", placeholder: "Ingrese Cantidad"%>
                </div>
                <div id="compresor" class="form-group">
                  <label>Marca del Compresor</label>
                  <%= f.text_field :compresor, class: "form-control", placeholder: "Ingrese Marca compresor"%>
                </div>
                <div id="num_compresores" class="form-group">
                  <label>Numero de Compresores</label>
                  <%= f.number_field :num_compresores, class: "form-control", placeholder: "Ingrese numero compresores"%>
                </div>
                <div id="funciona" class="form-group">
                  <label>¿Funciona?</label>

                  <%= f.select(:funciona, [["Si","Si"], ["No","No"]], {}, { :class => 'form-control' })%>
                </div>

                <div id="num_paquetes" class="form-group">
                  <label>Cantidad de paquetes</label>
                  <%= f.number_field :num_paquetes, class: "form-control", placeholder: "Ingrese Cantidad de paquetes"%>
                </div>
                <div id="serial" class="form-group">
                  <label>Serial</label>
                  <%= f.text_field :serial, class: "form-control", placeholder: "Ingrese Serie" %>
                </div>
                <div id ="capacidad_refrigeracion" class="form-group">
                  <label>Capacidad de refrigeracion [BTH/h]</label>
                  <%= f.text_field :capacidad_refrigeracion, class: "form-control", placeholder: "Ingrese numero"%>
                  <div class ="callout callout-info">
                  Es la rata de extracción de calor del equipo y se mide en BTH/h, este dato se encuentra en una placa del equipo por lo general ubicada en un costado del mismo.
                 </div>
                </div>
                <div id ="potencia" class="form-group">
                  <label>Potencia [KVA]</label>
                  <div class ="callout callout-info">
                    <strong> Potencia.</strong><br/>
                    Es la potencia nominal o aparente que puede entregar la planta eléctrica la unidad de medida es Kva,
                     para mayor confiabilidad del dato se puede solicitar apoyo al técnico de mantenimiento.
                    Si no se tiene placa de datos en el equipo ni manual para verificar la información se debe registrar SD.
                  </div>
                </div>
                <div id="mantenimiento" class="form-group">
                  <label>¿Cuenta con Mantenimiento?</label>

                  <%= f.select(:tiene_mantenimiento, [["Si","Si"], ["No","No"]], {}, { :class => 'form-control' })%>
                </div>
                <div id="num_manten_year" class="form-group">
                  <label>Numero Mantenimientos al año</label>
                  <%= f.text_field :num_manten_year, class: "form-control", placeholder: "Ingrese numero mantenimientos" %>
                </div>
                <div id ="regulador" class="form-group">
                  <label>¿Tiene regulador?</label>

                  <%= f.select(:regulador, [["Si","Si"], ["No","No"]], {}, { :class => 'form-control' })%>
                </div>
                <div id="monitoreo" class="form-group">
                  <label>Sistema de monitoreo</label>

                  <%= f.select(:monitoreo, [["TDMM","TDMM"], ["AUTO","AUTO"], ["NO","NO"]], {}, { :class => 'form-control' })%>
                  <div class ="callout callout-info">
                    <strong> Sistema de Monitoreo.</strong><br/>
                    -TDMM monitoreo manual con ayuda del termómetro digital de máximas y mínimas.<br/>
                    -AUTO: monitoreo automático conectado a internet con servicio de llamada a celular ante desborde de temperatura.
                  </div>
                </div>


                <div id ="cargador_bateria" class="form-group">
                  <label>¿Funciona Cargador de batería?</label>

                  <%= f.select(:cargador_bateria, [["Si","Si"], ["No","No"], ["SB","SB"]], {}, { :class => 'form-control' })%>
                  <div class ="callout callout-info">
                    <strong> Batería.</strong><br/>
                    -Se debe diligenciar SI, si se tiene la batería en buen estado y conectada, de lo contrario diligencie NO. En caso de no tener cargador de la batería se debe diligenciar SB.<br/>

                  </div>
                </div>
                <div id ="transfer_automatica" class="form-group">
                  <label>¿Funciona transferencia automática?</label>

                  <%= f.select(:transfer_automatica, [["Si","Si"], ["No","No"], ["TM","TM"]], {}, { :class => 'form-control' })%>
                  <div class ="callout callout-info">
                    <strong> Transferencia automática.</strong><br/>
                    -Se debe diligenciar un SI, si se tiene transferencia en buen estado y conectada, de lo contrario diligencie NO, En caso de no tener transferencia automática, sino manual se debe diligenciar TM.
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <%= f.submit "Aceptar", class: "btn btn-primary"%>
              </div>
              <% end %>
            </div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b>
        0.9
      </div>
      Inventario del
      <a href="http://www.saludinfantilvalledelcauca.co/">PAI Valle del Cauca</a>.
    </footer>
    <!-- ./wrapper -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script>
    jQuery(function($) {
      if($("#item_marca_id option:selected").text() == 'Otro'){
        $('#marca_digitada').show();
        $('#modelo_digitado').show();
        $('#modelo').hide();
      }else{
        $('#marca_digitada').hide();
        $('#modelo_digitado').hide();
        $('#modelo').show();
      }

      if($("#item_modelo_id option:selected").text() == 'Otro'){

        $('#modelo_digitado').show();
        $('#modelo').hide();
      }else{

        $('#modelo_digitado').hide();
        $('#modelo').show();
      }

      //alert($("#item_marca_id").val())
      opciones($("#item_category_id").val())


      //trae marcas asociadas a categorias
      $("#item_category_id").change(function() {

        mandando = JSON.stringify({categoria:$("#item_category_id").val()})

        $.ajax({
              type: "POST",// GET in place of POST
              contentType: "application/json; charset=utf-8",
              url: "/items/getMarcas/",
              data : mandando,
              dataType: "json",
              success: function (result) {
                $("#item_marca").find('option').remove();
                $("#item_marca").append($('<option>', {
                          value: '-1',
                          text:  'Seleccione...'
                }))
                  var marcas = result
                  for (var i = 0; i < marcas.length; i++) {

                    $("#item_marca").append($('<option>', {
                              value: marcas[i].id,
                              text:  marcas[i].nombre
                    }))

                  }

              },
              error: function (){
                  window.alert("El servidor no responde");
              }
          });
      });


// trae modelos asociados a marcas
      $("#item_marca_id").change(function() {
        if($("#item_marca_id option:selected").text() == 'Otro'){
          $('#marca_digitada').show();
          $('#modelo_digitado').show();
          $('#modelo').hide();
        }else{
          $('#marca_digitada').hide();
          $('#modelo_digitado').hide();
          $('#modelo').show();
        }
        mandando = JSON.stringify({categoria:$("#item_category_id").val(),marca:$("#item_marca_id").val()})

        $.ajax({
              type: "POST",// GET in place of POST
              contentType: "application/json; charset=utf-8",
              url: "/items/getModelos/",
              data : mandando,
              dataType: "json",
              success: function (result) {
                $("#item_modelo_id").find('option').remove();
                $("#item_modelo_id").append($('<option>', {
                          value: '-1',
                          text:  'Seleccione...'
                }))
                  var modelos = result
                  for (var i = 0; i < modelos.length; i++) {

                    $("#item_modelo_id").append($('<option>', {
                              value: modelos[i].id,
                              text:  modelos[i].nombre
                    }))

                  }

              },
              error: function (){
                  window.alert("El servidor no responde");
              }
          });
      });

      $("#item_modelo_id").change(function() {
        //$("#item_marca_digitada").prop('disabled', true);

          //if($("#item_modelo_id").val() == '0')
          if($("#item_modelo_id option:selected").text() == 'Otro'){
            $('#modelo_digitado').show();

          }else{
            $('#modelo_digitado').hide();

          }
      });

// agrega campos opcionales

    function opciones(category){
      switch(category){
        case '1': // refrigerador
                $('#monitoreo').show();
                $('#regulador').show();
                $('#serial').show();
                $('#mantenimiento').show();
                $('#num_manten_year').show();
                $('#modelo').show();
                //
                $('#tipo_planta').hide();
                $('#potencia').hide();
                $('#transfer_automatica').hide();
                $('#cargador_bateria').hide();
                $('#capacidad_refrigeracion').hide();
                $('#volumen').hide();
                $('#quantity').hide();
                $('#num_paquetes').hide();
                $('#dimensiones').hide();

                $('#compresor').hide();
                $('#num_compresores').hide();
                $('#funciona').hide();
                $('#evaporadores').hide();
                $('#cantevaporadores').hide();

                 break;
        case '2': //Congelador
                 $('#monitoreo').show();
                 $('#regulador').show();
                 $('#serial').show();
                 $('#mantenimiento').show();
                 $('#num_manten_year').show();
                 $('#modelo').show();
                 //
                 $('#tipo_planta').hide();
                 $('#potencia').hide();
                 $('#transfer_automatica').hide();
                 $('#cargador_bateria').hide();
                 $('#capacidad_refrigeracion').hide();
                 $('#volumen').hide();
                 $('#quantity').hide();
                 $('#num_paquetes').hide();
                 $('#compresor').hide();
                 $('#num_compresores').hide();
                 $('#funciona').hide();
                 $('#evaporadores').hide();
                 $('#dimensiones').hide();
                 $('#cantevaporadores').hide();
                  break;
          case '3': //nevera
                  $('#monitoreo').show();
                  $('#regulador').show();
                  $('#serial').show();
                  $('#mantenimiento').show();
                  $('#num_manten_year').show();
                  $('#modelo').show();
                  //
                  $('#tipo_planta').hide();
                  $('#potencia').hide();
                  $('#transfer_automatica').hide();
                  $('#cargador_bateria').hide();
                  $('#capacidad_refrigeracion').hide();
                  $('#volumen').hide();
                  $('#quantity').hide();
                  $('#num_paquetes').hide();
                  $('#compresor').hide();
                  $('#num_compresores').hide();
                  $('#funciona').hide();
                  $('#evaporadores').hide();
                  $('#dimensiones').hide();
                  $('#cantevaporadores').hide();
                   break;
          case '4'://refrigerador/Congelador
                   $('#monitoreo').show();
                   $('#regulador').show();
                   $('#serial').show();
                   $('#mantenimiento').show();
                   $('#num_manten_year').show();
                   $('#modelo').show();
                   //
                   $('#tipo_planta').hide();
                   $('#potencia').hide();
                   $('#transfer_automatica').hide();
                   $('#cargador_bateria').hide();
                   $('#capacidad_refrigeracion').hide();
                   $('#volumen').hide();
                   $('#quantity').hide();
                   $('#num_paquetes').hide();
                   $('#compresor').hide();
                   $('#num_compresores').hide();
                   $('#funciona').hide();
                   $('#evaporadores').hide();
                   $('#dimensiones').hide();
                   $('#cantevaporadores').hide();
                    break;
          case '5': //refrigerador vertical
                    $('#monitoreo').show();
                    $('#regulador').show();
                    $('#serial').show();
                    $('#mantenimiento').show();
                    $('#num_manten_year').show();
                    $('#modelo').show();
                    //
                    $('#tipo_planta').hide();
                    $('#potencia').hide();
                    $('#transfer_automatica').hide();
                    $('#cargador_bateria').hide();
                    $('#capacidad_refrigeracion').hide();
                    $('#volumen').hide();
                    $('#quantity').hide();
                    $('#num_paquetes').hide();
                    $('#compresor').hide();
                    $('#num_compresores').hide();
                    $('#funciona').hide();
                    $('#evaporadores').hide();
                    $('#dimensiones').hide();
                    $('#cantevaporadores').hide();
                     break;


        case '6': //termo
                $('#volumen').show();
                $('#quantity').show();
                $('#num_paquetes').show();
                $('#modelo').show();

                $('#monitoreo').hide();
                $('#regulador').hide();
                $('#tipo_planta').hide();
                $('#potencia').hide();
                $('#transfer_automatica').hide();
                $('#cargador_bateria').hide();
                $('#capacidad_refrigeracion').hide();
                $('#serial').hide();
                $('#mantenimiento').hide();
                $('#num_manten_year').hide();
                $('#compresor').hide();
                $('#num_compresores').hide();
                $('#funciona').hide();
                $('#evaporadores').hide();
                $('#cantevaporadores').hide();
                $('#dimensiones').hide();
                 break;
        case '7': //Caja
                $('#volumen').show();
                $('#quantity').show();
                $('#num_paquetes').show();
                $('#modelo').show();

                $('#monitoreo').hide();
                $('#regulador').hide();
                $('#tipo_planta').hide();
                $('#potencia').hide();
                $('#transfer_automatica').hide();
                $('#cargador_bateria').hide();
                $('#capacidad_refrigeracion').hide();
                $('#serial').hide();
                $('#mantenimiento').hide();
                $('#num_manten_year').hide();
                $('#compresor').hide();
                $('#num_compresores').hide();
                $('#funciona').hide();
                $('#evaporadores').hide();
                $('#cantevaporadores').hide();
                $('#dimensiones').hide();
                 break;
        case '8': // aire acondicionado
                $('#capacidad_refrigeracion').show();
                $('#mantenimiento').show();
                $('#num_manten_year').show();
                $('#modelo').show();

                $('#tipo_planta').hide();
                $('#potencia').hide();
                $('#transfer_automatica').hide();
                $('#cargador_bateria').hide();
                $('#monitoreo').hide();
                $('#regulador').hide();
                $('#volumen').hide();
                $('#quantity').hide();
                $('#num_paquetes').hide();
                $('#compresor').hide();
                $('#num_compresores').hide();
                $('#funciona').hide();
                $('#evaporadores').hide();
                $('#cantevaporadores').hide();
                $('#dimensiones').hide();
                break;
        case '9': // planta electrica
                //muestra
                $('#tipo_planta').show();
                $('#potencia').show();
                $('#transfer_automatica').show();
                $('#cargador_bateria').show();
                $('#modelo').show();
                //oculta
                $('#monitoreo').hide();
                $('#regulador').hide();
                $('#capacidad_refrigeracion').hide();
                $('#volumen').hide();
                $('#quantity').hide();
                $('#num_paquetes').hide();
                $('#compresor').hide();
                $('#num_compresores').hide();
                $('#funciona').hide();
                $('#evaporadores').hide();
                $('#cantevaporadores').hide();
                $('#dimensiones').hide();
                 break;
        case '11': //cuarto frio
                $('#dimensiones').show();
                $('#quantity').show();
                $('#compresor').show();
                $('#num_compresores').show();
                $('#funciona').show();
                $('#mantenimiento').show();
                $('#monitoreo').show();
                $('#evaporadores').show();
                $('#cantevaporadores').show();

                $('#modelo').hide();
                $('#tipo_planta').hide();
                $('#volumen').hide();
                $('#transfer_automatica').hide();
                $('#cargador_bateria').hide();
                $('#num_paquetes').hide();
                $('#serial').hide();
                $('#capacidad_refrigeracion').hide();
                $('#potencia').hide();
                $('#regulador').hide();
                $('#modelo').hide();
                $('#num_manten_year').hide();
                 break;
      }
    }

    $("#item_category_id").change(function() {

      opciones($(this).val())
    //let val = $(this).val()


    });




    });
    </script>
  </body>
