<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Inventario
          <small>Items</small>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li class="active">Inventario</li>
        </ol>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">

              <!-- /.box-header -->
              <div class="box-body">
                <table id="items" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <!--<th>ID</th> -->
                      <th>Categoria</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Serial</th>

                      <th>Editar</th>
                      <th>Eliminar</th>

                    </tr>
                  </thead>
                  <tbody>
                    <% @items.each do |item| %>
                    <tr>
                      <!-- <td><%= item.id %></td> -->
                      <td><%= Category.find(item.category).nombre %></td>
                      <td><%= Marca.find(item.marca).nombre %></td>
                      <td><%= Modelo.find(item.modelo).nombre %></td>
                      <td><%= item.serial %></td>

                      <td><%= link_to 'Editar', edit_item_path(item) %></td>
                      <td><%= link_to 'Eliminar', item, method: :delete, data: { confirm: '¿Esta seguro de borrar este item?' } %></td>
                      <!--<td><%= link_to 'Borrow', new_order_path(item: item.id) %></td> -->
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#items").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  </script>
</body>
