<header class="main-header">
  <!-- Logo -->
  <a href="<%= root_url %>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>f</b>inv</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b>Inventario Físico PAI</b>
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <%= Institucion.find(current_user.institucion_id).name%>
    </a>
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag("user2-160x160.jpg", class: "img-circle") %>
      </div>
      <div class="pull-left info">
        <p><%= current_user.name %></p>
        <a href="<%= edit_user_path(current_user.id) %>">
          <i class="fa fa-edit"></i>
          Editar Perfil</a>
        <a href="">
          <%= link_to destroy_user_session_path, method: :delete  do %>
          <i class="fa fa-sign-out"></i>Salir
        <% end %>
        </a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">Menu principal</li>
      <li>
        <a href="<%= root_url %>">
          <i class="fa fa-home"></i>
          <span>Home Page</span>
        </a>
      </li>
      <li>
        <a href="<%= edit_institucion_path(current_user.institucion_id) %>">
          <i class="fa fa-search"></i>
          <span>Datos Institucion</span>
        </a>
      </li>
      <li>
        <a href="<%= items_path %>">
          <i class="fa fa-search"></i>
          <span>Inventario</span>
        </a>
      </li>
      <li>
        <a href="<%= past_orders_path %>">
          <i class="fa fa-history"></i>
          <span>Necesidad equipos</span>
        </a>
      </li>
      <li>
        <a href=" <%= new_item_path %>">
          <i class="fa fa-plus"></i>
          <span>Agregar Item</span>
        </a>
      </li>
    <!--  <li>
        <a href="<%= new_member_path %>">
          <i class="fa fa-user-plus"></i>
          <span>Agregar Member</span>
        </a>
      </li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
